@import url(https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #222;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    width: auto;
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #f6cafe;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #9e02b8;

}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;
    margin: auto;
    padding: 10px;

}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 5;
    font-size: 55px;
    color: #9e02b8;

}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #f6cafe;

}

.conteudo-principal-escrito-botao {
    background-color: #f6cafe;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;

}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}


.img {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 280px;
    border-radius: 30px;
    margin-top: 10px;
}

.conteudo-principal-imagem {
    width: 100%;
    object-fit: contain;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #9e02b8;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #f6cafe;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #f6cafe;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #9e02b8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.media-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rodape-redes {
    font-family: 'Sarala', sans-serif;
    font-weight: 5;
    font-size: 20px;
    color: #9e02b8;
}

.contacts {
    padding: 32px;
    display: flex;
    flex-direction: column;
    font-family: 'Sarala', sans-serif;
}

.info-rodape {
    color: #f6cafe;
    font-size: 15px;
}

@media (max-width: 820px) {

    .cabecalho-imagem {
        width: auto;
        height: 50px;
    }

    .cabecalho-menu-item {
        font-family: 'Sarala', sans-serif;
        color: #f6cafe;
        font-size: 12px;
    }

    .conteudo {
        margin-bottom: 30px;
        border-top: 0.4px solid #9e02b8;

    }

    .conteudo-principal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        flex-wrap: wrap;
        margin: auto;
        padding: 10px;

    }

    .conteudo-principal-escrito {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .conteudo-principal-escrito-titulo {
        font-family: 'Righteous', cursive;
        font-size: 38px;
        color: #9e02b8;


    }

    .conteudo-principal-escrito-subtitulo {
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #f6cafe;

    }

    .conteudo-principal-escrito-botao {
        display: flex;
        align-items: center;
        margin: auto;
        background-color: #f6cafe;
        width: fit-content;
        padding: 5px 10px;
        height: auto;
        border: none;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #2f2325;
        margin-bottom: 10px;

    }

    .img {
        width: 200px;
    }

    .conteudo-principal-imagem {
        margin: auto;
    }

    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 25px;

        flex-wrap: wrap;
        margin: auto;
        padding: 10px;
    }

    .conteudo-secundario-titulo {
        border-top: 0.4px solid #9e02b8;
        padding-top: 24px;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 24px;
        color: #f6cafe;
        margin-bottom: 10px;
    }

    .conteudo-secundario-paragrafo {
        font-family: 'Sarala', sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #f6cafe;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;

    }

    .rodape {
        padding: 32px;
        border-top: 0.4px solid #9e02b8;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .media-links {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .icons-rodape {
        display: flex;
        align-items: center;
        margin: auto;
    }

    .github-icon {
        width: 80px;
        height: 80px;

    }

    .linkedin-icon {
        width: 80px;
        height: 80x;

    }

    .wpp-icon {
        width: 80px;
        height: 80x;

    }


    .rodape-redes {
        display: flex;
        align-items: center;
        margin: auto;
        font-family: 'Sarala', sans-serif;
        font-size: 20px;
        color: #9e02b8;
    }

    .icons-rodape {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    .contacts {
        margin: auto;
        padding: 32px;
        display: flex;
        flex-direction: column;
        font-family: 'Sarala', sans-serif;
    }

    .info-rodape {
        color: #f6cafe;
        font-size: 15px;
        align-content: space-around;
    }
}